@model ControleFrotasDLL.BLL.Marca
@{
    ViewData["Title"] = "Cadastrar";
}

<br />
<br />

<form id="frm" method="post">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" placeholder="Digite o nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <button type="submit" id="send" class="btn btn-primary">Salvar</button> <a asp-action="Index" class="btn btn-info">Voltar</a>
</form>