@model ControleFrotasDLL.BLL.ClienteJuridico

<form method="post" asp-action="CadastroClienteJuridico" asp-controller="Home" asp-area="">
    <main role="main">
      
        <input type="hidden" asp-for="Cliente.Tipo" value="J" />
        <section class="container" style="margin-top: 50px">
            <div class="row">
                <aside class="col-sm-6">
                    <h3 class="subtitle-doc">
                        Cadastro do Cliente Juridico
                        <a href="#" data-html="code_register_1" class="showcode"></a>
                    </h3>
                    <div id="code_register_1">
                        <div class="card">
                            <header class="card-header">
                                <div class="border-top card-body text-center">Cliente Fisico? <a asp-action="CadastroClienteFisico" asp-controller="Home" asp-area="">Clique Aqui</a></div>
                            </header>
                            <article class="card-body">
                                @if (TempData["MSG_S"] != null)
                                {
                                    <p class="alert alert-success">@TempData["MSG_S"]</p>
                                }
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label asp-for="RazaoSocial"></label>
                                        <input type="text" asp-for="RazaoSocial" class="form-control" placeholder="" />
                                        <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                                    </div>
                                    <div class="col form-group">
                                        <label asp-for="Cliente.Nome"></label>
                                        <input type="text" asp-for="Cliente.Nome" class="form-control" placeholder="">
                                        <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                                    </div> <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <label asp-for="Cliente.Nascimento"></label>
                                        <input type="text" asp-for="Cliente.Nascimento" class="form-control data" placeholder="">
                                        <span asp-validation-for="Cliente.Nascimento" class="text-danger"></span>
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row end.// -->

                                <div class="form-group">
                                    <label>CPF/CNPJ:</label>
                                    <input type="text" asp-for="Cliente.CPFCNPJ" id="CPFCNPJ" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.CPFCNPJ" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Cliente.Email"></label>
                                    <input type="text" asp-for="Cliente.Email" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                                    <small class="form-text text-muted">
                                        Nós nunca compartilharemos seu e-mail para terceiros.
                                    </small>
                                </div> <!-- form-group end.// -->

                                <div class="form-group">
                                    <label asp-for="Cliente.CEP"></label>
                                    <input type="text" asp-for="Cliente.CEP" id="CEP" class="form-control cep" placeholder="">
                                    <span asp-validation-for="Cliente.CEP" class="text-danger"></span>
                                    <div class="alert alert-danger" style="display:none;"></div>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Estado"></label>
                                    <input type="text" asp-for="Cliente.Estado" id="Estado" readonly="readonly" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Estado" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Cidade"></label>
                                    <input type="text" asp-for="Cliente.Cidade" id="Cidade" readonly="readonly" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Cidade" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Bairro"></label>
                                    <input type="text" asp-for="Cliente.Bairro" id="Bairro" readonly="readonly" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Bairro" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Endereco"></label>
                                    <input type="text" asp-for="Cliente.Endereco" id="Endereco" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Endereco" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Complemento"></label>
                                    <input type="text" asp-for="Cliente.Complemento" id="Complemento" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Complemento" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Numero"></label>
                                    <input type="text" asp-for="Cliente.Numero" class="form-control" placeholder="">
                                    <span asp-validation-for="Cliente.Numero" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Cliente.Telefone"></label>
                                        <input type="text" asp-for="Cliente.Telefone" class="form-control telefone">
                                        <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                                    </div> <!-- form-group end.// -->
                                    <!-- form-group end.// -->
                                </div> <!-- form-row.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.Senha"></label>
                                    <input class="form-control" asp-for="Cliente.Senha" type="password">
                                    <span asp-validation-for="Cliente.Senha" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cliente.ConfirmarSenha"></label>
                                    <input class="form-control" asp-for="Cliente.ConfirmarSenha" type="password">
                                    <span asp-validation-for="Cliente.ConfirmarSenha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
                                </div> <!-- form-group// -->

                            </article> <!-- card-body end .// -->
                            <div class="border-top card-body text-center">Já tem uma conta? <a asp-action="Login" asp-controller="Home" asp-area="Cliente">Entre</a></div>
                        </div> <!-- card.// -->

                    </div> <!-- code-wrap.// -->
                </aside>
            </div>
        </section>
    </main>
</form>
