@model ControleFrotasDLL.BLL.NewsletterEmail

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        '   <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="~/images/dinheiro-e-posses-em-proverbios.jpg"
                     alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Gerencie as Despesas de seus veículos</h1>
                        <p>
                            Fique por dentro dessa e de outras facilidades hoje mesmo.
                        </p>
                        <p><a class="btn btn-lg btn-primary" asp-action="CadastroClienteFisico" asp-controller="Home" role="button">Inscreva-se</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="first-slide" src="~/images/slider-locacao-para-pessoa-fisica.jpg"
                     alt="Second slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Aluguel de veículos para empresas</h1>
                        <p>
                            Escolha entre inúmeros veículos oferecidos por nós para seu maior conforto.
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Veja a Galeria</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="first-slide" src="~/images/blog-customer-care-blog-preview.jpg"
                     alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Atendimento 24 horas por dia</h1>
                        <p>
                            Equipe habilidosa e pronta para solucionar seus problemas a todo momento.
                        </p>
                        <p><a class="btn btn-lg btn-primary" asp-action="Contato" asp-controller="Home" role="button">Contate</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <!-- Lista de Produtos
            ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="container">
        <div class="row">
            <div class="big-box">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <div class="box-bg">
                            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                                <div class="align-center">
                                    <i class="fa fa-users fa-5x"></i>
                                    <h4 class="text-bold">OFERECER UMA EXPERIÊNCIA ÚNICA PARA O USUÁRIO.</h4>
                                    <p>
                                        Contribuir para que pessoas e empresas concretizem todos os seus objetivos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-bg">
                            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                                <div class="align-center">
                                    <i class="fa fa-shield fa-5x"></i>
                                    <h4 class="text-bold">GARANTIR A SEGURANÇA E PROTEÇÃ0 DE SEUS DADOS.</h4>
                                    <p>
                                        Contramedidas frentes a ameaças e negligências que possam prejudicar a navegação.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-bg">
                            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                                <div class="align-center">
                                    <i class="fa fa-credit-card fa-5x"></i>
                                    <h4 class="text-bold">FACILIDADES DE PAGAMENTO PARA PESSOA JURÍDICA</h4>
                                    <p>
                                        Parcele seus aluguéis em até 3x sem juros, em qualquer lugar que você estiver.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s" align="center"> 
    <h5>Seguradoras Parceiras: </h5>
    </div>

    <br />
    <div class="container">

        <div class="card-group">
            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="~/images/IndexImages/images.jpg" class="card-img-top" alt="..." style="width:180; height:160px;">
                <div class="card-body">
                    <h5 class="card-title">Bradesco Seguros</h5>
                </div>
            </div>
            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="~/images/IndexImages/bb.png" class="card-img-top" alt="..." style="width:180; height:160px;">
                <div class="card-body">
                    <h5 class="card-title">BB Seguros</h5>
                </div>
            </div>
            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="~/images/IndexImages/kKYjeJ6r-265x265.png" class="card-img-top" alt="..." style="width:180; height:160px;">
                <div class="card-body">
                    <h5 class="card-title">Marítima Seguros</h5>
                </div>
            </div>
            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="~/images/IndexImages/portoseguro.png" class="card-img-top" alt="..." style="width:180; height:160px;">
                <div class="card-body">
                    <h5 class="card-title">Porto Seguro</h5>
                </div>
            </div>
            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="~/images/IndexImages/unnamed.jpg" class="card-img-top" alt="..." style="width:180; height:160px;">
                <div class="card-body">
                    <h5 class="card-title">Caixa Seguros</h5>
                </div>
            </div>
            <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="~/images/IndexImages/sulamerica-seguros-241886.jpg" class="card-img-top" alt="..." style="width:180; height:160px;">
                <div class="card-body">
                    <h5 class="card-title">SulAmérica Seguros</h5>
                </div>
            </div>
        </div>
    </div>
</main>

@{ 
            /* Razor - Motor de Template do ASP.NET
             * HTML Helper - Interface que proporciona gerar código HTML por meio do C#, isso ajuda na manipulação de informações entre HTML e ASP.NET       
             * URL: Fragmento: Link do Tipo Ancora
             */

}
<br />
<br />
@using (Html.BeginForm(null, null, null, FormMethod.Post, true, new { @action = @Url.Action("Index/Home") + "#formulario" }))

{
    <div class="container" id="formulario">
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                @if (TempData["MSG_S"] != null)
                {
                    <p class="alert alert-success">@TempData["MSG_S"]</p>
                }
            </div>
            <div class="col-se-6 offset-sm-2">
                <div class="form-group">
                    <label for="email">Cadastre seu email para receber promoções</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } }) <!--<input type="text" id="email" class="form-control" name="email" placeholder=""> -->

                    </div> <!-- input-group.// -->
                    <span style="color:red;">@Html.ValidationMessageFor(m => m.Email)</span>
                </div> <!-- form-group.// -->
            </div>

            <div class="col-sm-2">
                <br />
                <button class="subscribe btn btn-primary btn-block" type="submit" style="margin-top: 7px">Cadastrar-se</button>
            </div>
            <div class="col-se-6 offset-sm-2">
                <div class="row">
                    <label>Ajude o site a crescer clicando e conhecendo nosse Site de Hospedagem:</label>
                    <a href="https://www.SmarterASP.NET/index?r=MarcusCore20">
                        <img src="https://www.SmarterASP.NET/affiliate/728X90.gif" border="0">
                    </a>
                </div>
            </div>
        </div>
    </div>
}