<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 403 - Acesso Negado</h1>
            <p>
                Opps! Você não tem permissão para acessar esta página
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/Error403.png" style="width:100%" alt="Erro permssão de acesso" />
        </div>
        <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-primary">Volte a Navegar</a>
    </div>
</div>

