<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 500</h1>
            <p>
                @ViewBag.Mensagem
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/Error500.png" style="width:100%" alt="Erro interno no servidor" />
        </div>
    </div>
</div>

