<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 404 - Página Não Encontrada</h1>
            <p>
                A página que você tentou acessar não existe.
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/Error404.png" style="width:100%" alt="Erro de Página não encontrada." />
      
        </div>
        <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-primary">Volte a Navegar</a>
    </div>
</div>


